<html>

<head>
  <title>Sustineri</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#303466">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="manifest" href="/static/manifest.json">
  <link rel="apple-touch-icon" type="image/x-icon" href="/static/favicon/favicon-32x32.png"/>
  <link rel="shortcut icon" type="image/x-icon" href="/static/favicon/favicon-32x32.png"/>
  <link rel="icon" type="image/x-icon" href="/static/favicon/favicon-32x32.png"/>
  <meta name="msapplication-config" content="/static/browserconfig.xml" />
  <script>
    function logout() {
      window.location = '/';
    }
  </script>
</head>

<body>
  <div class="bg"></div>
  <div class="bg2"></div>
  </div>
  <div id="main">
    <div id="content">
      <nav id="nav">
        <img src="../static/images/logo_ohnehintergrund.png" class="logo" id="logo" alt="Sustineri logo">
        <a href="./overview">Overview</a>
        <a href="./upload">Upload</a>
        <a href="#" onclick="logout()">Logout</a>
      </nav>
      {% block page_content %}{% endblock %}
    </div>
  </div>

  <script>
    $(function () {
      let loggedIn = localStorage.getItem("loggedIn") === 'true';
      if (!loggedIn) {
        $("#nav").css("display", "none");
        
        if (window.location.pathname !== '/') {
          window.location = '/';
        }
      } else {
        $("#nav").css("display", "inline-grid");
      }
      checkLogo();
    });

    function logout() {
      localStorage.setItem("loggedIn", 'false');
      window.location = '/';
    }

    $(window).on('resize', function () {
      checkLogo();
    });

    function checkLogo () {
      let width = $(window).width();
      if (width < 600) {
        $("#logo").attr("src", "../static/images/logo_small.png");
      } else {
        $("#logo").attr("src", "../static/images/logo_ohnehintergrund.png");
      }
    }
  </script>
</body>

</html>