{% extends "base.html" %}

{% block page_content %}

<div class="panel">
  <div class="start">
    <div class="title">
      Sustineri.
    </div>
    <div class="subtitle">
      Go <span class="green">green</span>
    </div>
  </div>
  <div class="login">
    <div>
      <input type="text" id="username" placeholder="username">
    </div>
    <div>
      <input type="password" id="password" placeholder="password">
    </div>
    <button id="login" onclick="login()" type="submit">Login</button>
  </div>
</div>
</div>
</div>
</div>

<script>
  function login() {
    let username = $("#username")
    let pw = $("#password")
    if (username.val() === '') {
      username.css('border', '1px solid red')
    } else {
      username.css('border', '1px solid black')
    }
    if (pw.val() === '') {
      pw.css('border', '1px solid red')
    } else {
      pw.css('border', '1px solid black')
    }
    if (username.val() !== '' && pw.val() !== '') {
        window.location = '/overview';
    }
  }
</script>

{% endblock %}
