<html>
<head>
<title>Sustineri</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js" ></script>
<link rel="stylesheet" href="/static/style.css">
</head>
<body>
	<div id="main">
		<div id="content">
		</div>
	</div>
    <script>
      // Example for a request
      //  $(function() {
      //      setInterval(function() {
      //          $.getJSON("/api/get_images", function(data) {
      //              if($('#person > img').attr("src") != data['person_image_url'] || $('#product > img').attr("src") != data['product_image_url']) {
      //                  $('#person > img').attr("src", data['person_image_url']);
      //                  $('#product > img').attr("src", data['product_image_url']);
      //                  $('#main').removeClass('animation_white');
      //                  $('#main').addClass('animation_blink');
      //                  beep.play();
      //              }
      //          });
      //      }, 500);
      //      setInterval(function() {
      //          $('#main').removeClass('animation_blink');
      //          $('#main').addClass('animation_white');
      //      }, 4000);
      //  });
    </script>
</body>
</html>