{% extends "base.html" %}

{% block page_content %}

<div class="panel">
    <div class="title">
        <h1>Nice overview</h1>
        <div class="diagram">
            <div id="chartdiv" style="width: 100%; height: 400px;">
                <h2>Loading data...</h2>
            </div>
            <div>
                <button onclick="toUpload()" type="submit">Upload receipt</button>
            </div>
        </div>
    </div>
</div>

  <script src="../static/js/core.js"></script>
  <script src="../static/js/charts.js"></script>
  <script src="../static/js/material.js"></script>
<script>

    am4core.useTheme(am4themes_material);

    var chart = am4core.create("chartdiv", am4charts.XYChart);

    data = {
        "data": [{
            "date": "2018-08-05",
            "gwp": 4561,
            "avg": 4232
        }, {
            "date": "2018-08-12",
            "gwp": 5687,
            "avg": 4928
        }, {
            "date": "2018-08-19",
            "gwp": 6348,
            "avg": 6432
        }, {
            "date": "2018-08-26",
            "gwp": 4878,
            "avg": 4922
        }, {
            "date": "2018-09-02",
            "gwp": 6867,
            "avg": 4992
        }, {
            "date": "2018-09-09",
            "gwp": 7561,
            "avg": 4642
        }, {
            "date": "2018-09-16",
            "gwp": 1287,
            "avg": 3873
        }]
    };

    chart.data = data.data;

    chart.dateFormatter.inputDateFormat = "YYYY-MM-dd";
    chart.zoomOutButton.disabled = true;

    var dateAxis = chart.xAxes.push(new am4charts.DateAxis());
    dateAxis.renderer.grid.template.strokeOpacity = 0;
    dateAxis.renderer.minGridDistance = 10;
    dateAxis.dateFormats.setKey("day", "d");
    dateAxis.tooltip.hiddenState.properties.opacity = 1;
    dateAxis.tooltip.hiddenState.properties.visible = true;

    var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
    valueAxis.renderer.inside = true;
    valueAxis.renderer.labels.template.fillOpacity = 0.3;
    valueAxis.renderer.grid.template.strokeOpacity = 0;
    valueAxis.min = 0;
    valueAxis.cursorTooltipEnabled = false;

    var axisRange = valueAxis.axisRanges.create();
    axisRange.value = 6000;
    axisRange.grid.strokeOpacity = 0.1;
    axisRange.label.align = "right";
    axisRange.label.verticalCenter = "bottom";
    axisRange.label.fillOpacity = 0.8;

    valueAxis.renderer.gridContainer.zIndex = 1;

    var axisRange2 = valueAxis.axisRanges.create();
    axisRange2.value = 12000;
    axisRange2.grid.strokeOpacity = 0.1;
    axisRange2.label.align = "right";
    axisRange2.label.verticalCenter = "bottom";
    axisRange2.label.fillOpacity = 0.8;

    var series = chart.series.push(new am4charts.ColumnSeries);
    series.dataFields.valueY = "gwp";
    series.dataFields.dateX = "date";
    series.tooltipText = "Your gwp: {valueY}";
    series.tooltip.hiddenState.properties.opacity = 1;
    series.tooltip.hiddenState.properties.visible = true;

    var avg = chart.series.push(new am4charts.LineSeries());
    avg.name = "Average";
    avg.dataFields.dateX = "date";
    avg.dataFields.valueY = "avg";
    avg.tooltipText = "Average gwp: {valueY.value}";
    avg.fill = am4core.color("#2c3dc1");
    avg.stroke = am4core.color("#2c3dc1");

    var columnTemplate = series.columns.template;
    columnTemplate.width = 30;
    columnTemplate.column.cornerRadiusTopLeft = 3;
    columnTemplate.column.cornerRadiusTopRight = 3;
    columnTemplate.strokeOpacity = 0;

    var scrollbarX = new am4charts.XYChartScrollbar();
    scrollbarX.series.push(series);
    scrollbarX.series.push(avg);

    scrollbarX.po
    chart.scrollbarX = scrollbarX;



    columnTemplate.adapter.add("fill", function (fill, target) {
        var dataItem = target.dataItem;
        if (dataItem.valueY > dataItem.dataContext.avg) {
            return am4core.color("#b72411");
        } else {
            return am4core.color("#39a526");
        }
    })

    var cursor = new am4charts.XYCursor();
    cursor.behavior = "panX";
    chart.cursor = cursor;
    cursor.lineX.disabled = true;

    function toUpload() {
        window.location = '/upload';
    }
</script>

{% endblock %}