{% extends "base.html" %}

{% block page_content %}

<div class="panel">
    <div class="title">
        <h1>Dashboard</h1>
        <div id="result">
            <div id="below-avg" style="display: none">
                Awesome! Your CO<sub>2</sub> footprint is better then the average!
            </div>
            <div id="above-avg" style="display: none">
                <p>Oh it looks like your CO<sub>2</sub> footprint is above average this week.</p>
                <button onclick="toCompensate()" type="submit">Let's compensate it!</button>
            </div>
            <div class="result">
                <div class="you">
                    <div class="val">
                        <span id="val-me"></span>
                    </div>
                    <div class="desc">
                        Me
                    </div>
                </div>
                <div class="others">
                    <div class="val">
                        <span id="val-others"></span>
                    </div>
                    <div class="desc">
                        Others
                    </div>
                </div>
            </div>
        </div>
        <div class="diagram">
            <div id="chartdiv" style="width: 100%; height: 400px;">
                <h2>Loading data...</h2>
            </div>

            <div>
                Red Columns: You created more CO<sub>2</sub> than the average. <br>
                Green Columns: You created less CO<sub>2</sub> than the average. <br>

            </div>
        </div>
    </div>
</div>

<script src="../static/js/core.js"></script>
<script src="../static/js/charts.js"></script>
<script src="../static/js/material.js"></script>
<script>
    am4core.useTheme(am4themes_material);

    let chart = am4core.create("chartdiv", am4charts.XYChart);
    let data;

    fetch(window.location.origin + "/api/overview", {
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            method: "GET"
        })
        .then(res => {
            return res.json();
        })
        .then(dataRes => {
            data = dataRes;
            data.map(ele => ele.date = getDateOfWeek(ele.date, 2018));
            chart.data = data;
            let newest = data.reduce(function (a, b) {
                return a.date > b.date ? a : b
            });
            let me = parseFloat(newest.gwp).toFixed(2) + " KG ";
            let others = parseFloat(newest.avg).toFixed(2) + " KG ";
            
            if (newest.gwp > newest.avg) {
                let usagePercentage = newest.gwp / newest.avg * 100 - 100;
                localStorage.setItem('usagePercentage', usagePercentage.toFixed(2));
                $("#above-avg").css("display", "block");
                others = others.concat("👍");
                me = me.concat("👎");
            } else {
                $("#below-avg").css("display", "block")
                me = me.concat("👍");
                others = others.concat("👎");
            }
            $("#val-me").text(me);
            $("#val-others").text(others);
        })
        .catch(error => {
            console.log("Error: ", error)
        });

    chart.dateFormatter.inputDateFormat = "YYYY-MM-dd";
    chart.zoomOutButton.disabled = true;

    var dateAxis = chart.xAxes.push(new am4charts.DateAxis());
    dateAxis.dateFormats.setKey("MMM-d");
    dateAxis.tooltip.hiddenState.properties.opacity = 1;
    dateAxis.tooltip.hiddenState.properties.visible = true;

    var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
    valueAxis.renderer.inside = true;
    valueAxis.renderer.labels.template.fillOpacity = 0.3;
    valueAxis.min = 0;
    valueAxis.cursorTooltipEnabled = false;

    var axisRange = valueAxis.axisRanges.create();
    axisRange.value = 6000;
    axisRange.grid.strokeOpacity = 0.1;
    axisRange.label.align = "right";
    axisRange.label.verticalCenter = "bottom";
    axisRange.label.fillOpacity = 0.8;

    valueAxis.renderer.gridContainer.zIndex = 1;

    var axisRange2 = valueAxis.axisRanges.create();
    axisRange2.value = 10000;
    axisRange2.grid.strokeOpacity = 0.1;
    axisRange2.label.align = "right";
    axisRange2.label.verticalCenter = "bottom";
    axisRange2.label.fillOpacity = 0.8;

    var series = chart.series.push(new am4charts.ColumnSeries);
    series.dataFields.valueY = "gwp";
    series.dataFields.dateX = "date";
    series.tooltipText = "Your GWP: {valueY} KG CO2";
    series.tooltip.hiddenState.properties.opacity = 1;
    series.tooltip.hiddenState.properties.visible = true;
    series.legendSettings.labelText = "Your average GWP"

    var avg = chart.series.push(new am4charts.LineSeries());
    avg.dataFields.dateX = "date";
    avg.dataFields.valueY = "avg";
    avg.tooltipText = "Average GWP: {valueY.value} KG CO2";
    avg.fill = am4core.color("#2c3dc1");
    avg.stroke = am4core.color("#2c3dc1");
    avg.tensionX = 0.8;
    avg.strokeWidth = 3;

    var columnTemplate = series.columns.template;
    columnTemplate.width = 22;
    columnTemplate.column.cornerRadiusTopLeft = 3;
    columnTemplate.column.cornerRadiusTopRight = 3;
    columnTemplate.strokeOpacity = 0;

    chart.scrollbarX = new am4core.Scrollbar();

    columnTemplate.adapter.add("fill", function (fill, target) {
        var dataItem = target.dataItem;
        if (dataItem.valueY > dataItem.dataContext.avg) {
            return am4core.color("#b72411");
        } else {
            return am4core.color("#39a526");
        }
    })

    var cursor = new am4charts.XYCursor();
    cursor.behavior = "panX";
    chart.cursor = cursor;
    cursor.lineX.disabled = true;

    function toUpload() {
        window.location = '/upload';
    }

    function toCompensate() {
        window.location = '/compensate';
    }

    function getDateOfWeek(w, y) {
        var d = (1 + (w - 1) * 7);
        return new Date(y, 0, d).toISOString().substring(0, 10);
    }
</script>

{% endblock %}