{% extends "base.html" %}

{% block page_content %}
<div class="panel">
    <div class="title">
        <h1>Upload</h1>
        <div>
            <p>
                Select a receipt you've received from Coop. We calculate the CO<sub>2</sub> 
                footprint of your food and add it to your total.
            </p>
        </div>
        <div>
            <input id="fileInput" type="file" />
            <button id="uploadBtn" onclick="upload()" type="submit">Upload</button>
        </div>
        <div>
            <table id="matchTable">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Footprint</th>
                        <th>Amount</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody id="tbody">
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>

function upload()
{
    if (fileInput.files.length == 0) return;

    var reader = new FileReader();
    reader.readAsDataURL(fileInput.files[0]);

    reader.onload = () => {
        var base64 = reader.result.split(",")[1];
        var data = JSON.stringify({ pdf : base64 });

        // hacky way to get URL to work in PROD and DEV
        fetch(window.location.origin + "/api/upload", {
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            method: "POST",
            body : data
        })
        .then(res => { return res.json(); })
        .then(data => {
            console.log(data)
            data.forEach(ele => {
                $("#tbody").append('<tr>' +
                    '<td>'+ ele.productName + '</td>' +
                    '<td>'+ ele.footprint + '</td>' +
                    '<td>'+ ele.amount + '</td>' +
                    '<td>'+ ele.price + '</td>' +
                    '</tr>'
                    )
            });
            $("#matchTable").css("display", "inline-table");
        })
        .catch(error => { console.log("Error: ", error) });
    };
    reader.onerror = error => { console.log("Error: ", error); };
}

</script>
{% endblock %}
