{% extends "base.html" %}

{% block page_content %}
<div class="panel">
    <div class="title">
        <h1>Upload</h1>
        <div>
            <input id="fileInput" type="file" />
            <button id="uploadBtn" onclick="upload()" type="submit">Upload</button>
        </div>
        <div>
            <p id="resultText" />
        </div>
    </div>
</div>

<script>

function upload()
{
    if (fileInput.files.length == 0) return;

    var reader = new FileReader();
    reader.readAsDataURL(fileInput.files[0]);

    reader.onload = () => {
        var base64 = reader.result.split(",")[1];
        var data = JSON.stringify({ pdf : base64 });

        // hacky way to get URL to work in PROD and DEV
        fetch(window.location.origin + "/api/upload", {
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            method: "POST",
            body : data
        })
        .then(res => { return res.json(); })
        .then(data => { $("#resultText").text("Upload complete") })
        .catch(error => { console.log("Error: ", error) });
    };
    reader.onerror = error => { console.log("Error: ", error); };
}

</script>
{% endblock %}
